Generated Data
__pycache__
Atas
Libelium new
Piano
Pods
model_output
Validation Data
Outlier detection
acelerating_dtw_article.pdf
DL_time series_classification.pdf
multivariate_time_series_classification.pdf
artigo_ml.odt
Activitys_time_schedule.csv
knn_input_matrix.png
learning_pandas.py
sync.py 
Descriptive Material 
catboost_info